*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(62, 62, 62);
}










/*
  LANDING PAGE
*/
.leftContainer{
  background-color: rgb(255, 231, 230);
  height: 100vh;
}

.rightContainer{
  background-color: rgb(255, 67, 67) !important;
  overflow: hidden;
}

.leftContainerHeader{
  font-size: 2rem;
  text-align: center;
  margin-top: 5%;
  overflow: hidden;
}

.logInContainer{
  margin-top: 5%;
  border: 1px solid rgb(255, 67, 67);
  padding: 2%;
  box-shadow: 0px 1px 5px rgb(255, 67, 67);
}

.logInBtn{
  width: 100% !important;
  background-color: rgb(255, 67, 67);
  border-color: rgb(62, 62, 62);
  border-radius: 15px;
}
.logInBtn:hover{
  background-color: rgb(255, 45, 45);
}

.createAcc{
  margin-top: 5%;
  text-align: center;
}

.createAccLink{
  color: rgb(255, 67, 67);
}

.createAccLink:hover{
  color: rgb(255, 45, 45);
}

.loginWarning{
  color: rgb(255, 45, 45);
  font-size: 0.9em;
  text-align: center;
}

.bruhbookLogo_index{
  margin-top: 2%;
  margin-left: 1%;
  display: flex;
}
.bbLogo{
  width: 60px;
  height: 60px;
}

.bbLogo img{
  width: 100%;
  height: 100%;
}


.bruhbookName_index{
  font-size: 2.4em;
  margin-left: 1%;
  color: rgb(62, 62, 62);
}

.slogan_index{
  /*border: 1px solid blue;*/
  margin-top: 2%;
  text-align: center;
  color: white;
  font-size: 2em;
}

.content_index{
  margin-top: 4%;
  /*border: 1px solid green;*/
  text-align: center;
  color: rgb(255, 231, 230);
  overflow: hidden;
}

.imgBox img{
  width: 80%;
}

.imgDesc{
  margin-top: 3%;
}

.index_footer{
  color: black;
  text-align:center;
  width: 98%;
  position: absolute;
  bottom: 10px;
}

.index_footer a{
  color: rgb(255, 231, 230);
}

.responsiveLogo{
  display: none;
}

@media(max-width: 767px){

  .responsiveLogo{
    display: inline-block;
    margin-top: 5%;
    height: 50px;
    font-size: 1.6em;
  }
  .responsiveLogo img{
    height: 80%;
  }

  .leftContainerHeader{
    font-size: 1.5em;
  }

  .bruhbookLogo_index{
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    display: none;
  }
  .bbLogo{
    width: 40px;
    height: 40px;
  }
  .bruhbookName_index{
    font-size: 1.8em;
    margin-left: 1%;
    color: rgb(62, 62, 62);
  }

  .slogan_index{
    /*border: 1px solid blue;*/
    margin-top: 20%;
    text-align: center;
    color: white;
    font-size: 2em;
  }

  .index_footer{
    color: black;
    text-align:center;
    width: 98%;
    position: relative;
    bottom: 10px;
    margin-top: 50%;
  }

  .imgBox{
    margin-top: 20%;
  }

}
/*
  LANDING PAGE
*/






















.navbar{
  background-color: rgb(255, 67, 67) !important;
  border-top: 4px solid black;
  border-bottom: 2px solid black;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}


.navProfilePic{
  border: 2px solid rgb(62, 62, 62) !important;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /*
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-image: url("../images/images.jpg");
  */
  vertical-align: middle;

}

.navProfilePic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.navButtons{
  margin-right: 50px;
  position: relative;
}

.navButtons a{
  text-decoration: none;
}

.navButtons a:hover{
  text-decoration: none;
}

.fa-bell{
  color: rgb(62, 62, 62);
}

.fa-comment-dots{
  color: rgb(62, 62, 62);
}

.fa-comment-dots:hover, .fa-bell:hover{
  color: black;
}

.searchBtn{
  background-color: rgb(62, 62, 62);
  font-size: 1.4em;
}

.fa-search{
  color: white;
}

.row{
  margin: 0;
}

.col-6{
  /*border: 1px solid red;*/
}

.navUserName{
  display: none;
}

.container-fluid{
  padding: 0;
}

.container{
  padding: 0;
}


.navUserDropdown{
  background-color: rgb(255, 67, 67);
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 0% !important;
  text-align: center;
  border: 1px solid black;
}

.navUserDropdown a{
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  color: rgb(62, 62, 62) !important;
}

.navUserDropdown a:hover{
    color: rgb(255, 67, 67) !important;
    background-color: rgb(62, 62, 62) !important;
}

.dropdownHr{
  display: none;
}
@media(max-width: 992px){
  .navbar{

    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

  .searchBar{
    padding-left: 0 !important;
    margin-top: 7%;
    font-size: 1.1rem;
  }

  .inputField{
    display: block;
    width: 100% !important;
    margin: 0 !important;
    font-size: 1.2rem;
  }

  .searchBtn{
    margin-top: 1% !important;
    width: 100%;
    font-size: 1.2rem;
  }

  .buttonsLi{
    text-align: center;
    padding-right: 0;
    margin-top: 3% !important;
  }

  .navButtons{
    margin-right: 0;
    margin-top: 10% !important;
    font-size: 1.2rem;
  }

  .navUserName{
    display: inline-block;
  }

  .container{
    max-width: 100%;
    padding: 0;
  }

  .navUser{
    text-align: center;
    font-size: 1.2rem;
  }

  .profilePicLi{
    text-align: center;
    margin-top: 10% !important;
  }

  .navUserDropdown{
    margin-top: 0 !important;
    text-align: center;
    background-color: rgb(255, 67, 67) !important;
    border: none;
    font-size: 1.2em;
  }

  .navUserDropdown a{
      background-color: rgb(255, 67, 67) !important;
      color: rgb(62, 62, 62) !important;
  }

  .dropdown-item{
    border-bottom: 1px solid rgb(67, 67, 67);
  }

  .empty{
    display: none;
  }
}



/*
  content ///////////////////////////////////////////////////////
*/

.contentContainer{
  padding: 1%;
  background-color: white;
  /*border: 1px solid red;*/
  background-color: rgb(255, 231, 230);
}


.postStatusContainer{
  background-color: white;
  /*border: 1px solid green;*/
  height: auto;
  margin-top: 1%;
}


.postStatusTextarea{
  border-radius: 10px;
  border: 1px solid rgb(255, 67, 67);
  resize: none;

}

.column_nopadding{
  padding: 0;
}

.form-group{
  margin: 0 !important;
}

.postStatusButtons{
  width: 95%;
  padding: 0;
  margin-top: 1%;
  background-color: rgb(255, 67, 67);
}

.postStatusButtons_center{
  text-align: center;
}

.partHeader{
  /*border: 1px solid blue;*/
  padding: 1%;
  font-size: 1.4em;
  background-color: #FFD0CF;
  box-shadow: 0px 1px 5px rgb(255, 67, 67);
  background-color: rgb(255, 67, 67);
  border-radius: 15px;
}


.statusContainer{
  /*border: 1px solid black;*/
  padding: 1%;
  margin-top: 5%;
  border-top: 1px solid rgb(255, 67, 67);
  border-bottom: 1px solid rgb(255, 67, 67);
  border-radius: 10px;
  background-color: rgb(255, 208, 207);
  box-shadow: 0px 3px 5px rgb(255, 67, 67);
}

.statusContainer a{
  text-decoration: none;
}
.statusContainer a:hover{
  text-shadow: 0px 0px 1px rgb(255, 67, 67);
}

.fa-check-circle{
  color:  rgb(255, 67, 67);
}

.edit_delete_btn_div{
  display: inline-block;
  color: rgb(62, 62, 62);
}

.userPostingContainer{
  /*border: 1px solid red;*/
  display: flex;
  position: relative;
}
.userPostingImg{
  width: 50px;
  height: 50px;
  border: 2px solid  rgb(255, 67, 67);
  border-radius: 50%;
}
.userPostingImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userPostingUsername{
  padding-left: 1% !important;
  width: 80% !important;
}

.color_username{
  color: rgb(62, 62, 62) !important;
}

.newsfeed_username{
  font-size: 1.2em;
  line-height: 2.4;
}

.statusText{
  /*border: 1px solid red;*/
  padding: 1%;
  overflow-wrap: break-word;
}



.statusButtonsContainer{
  /*border: 1px solid blue;*/
  padding-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}

.statusButton{
  margin-left: 2%;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.likeButton{
  color: white;
  background-color: rgb(255, 67, 67);
  border-radius: 20px;
  padding: 5px;
}

.commentButton{
  color: white;
  background-color: rgb(90, 90, 90);
  border-radius: 20px;
  padding: 5px;
}

.loadMoreDiv{
  text-align: center;
  /*background-color: rgb(255, 67, 67);*/
  color: white;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
}

@media(max-width: 768px){
  .statusText{
    font-size: 0.9em;
  }

  .userPostingContainer{
    margin-top: 2%;
  }

  .statusButtonsContainer{
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .postStatusButtonsDiv{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .postStatusContainer{
    margin-top: 2%;
  }
}








/*
  REGISTRATION PAGE
*/
.regPage{
  background-color:rgb(255, 208, 207);
  padding: 1%;
}

.reg_logo{
  width: 50px;
  height: 50px;

  display: flex;
  font-size: 2em;
  color: rgb(62, 62, 62);
}

.reg_logo img{
  width: 100%;
  height: 100%;
}

.regPh{
  margin-bottom: 2%;;
}
/*
  REGISTRATION PAGE
*/










/*
  PROFILE
*/
.profile_info-container{
  margin-top: 2%;
}

.profile_img{
  height: 200px;
  min-width: 250px !important;
}

.profile_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgb(255, 67, 67);
}

.profile_tableHeader{
  font-weight: 1000;
}

.profile_tableData{
  padding-left: 10%;,
}

.aboutTxt{
  word-wrap: break-word;
}

.loadMoreButton{
  background-color: rgb(255, 67, 67);
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  color: white;
}

.loadMoreButton:hover{
  background-color:   rgb(255, 40, 40);
}

.upWrapper{
  width: 300%;
  height: auto;
  border: 1px solid red;
}

.postLink{
  text-decoration: none !important;
  color: rgb(62, 62, 62);
}
.postLink:hover{
  color: black;
}

@media(max-width: 768px){
  .profile_info-container{
    margin-top: 10%;
  }

  .profile_img{
    height: 200px !important;
    width: 250px !important;
    text-align: center;
  }

  .profile_img img{
    height: 200px;
    width: 300px;
  }

  .profile_user-info{
    margin-top: 10%;
  }

  .profile_aboutInfo{
    margin-top: 5%;
  }


}



/*
  PROFILE
*/









.bold{
  font-weight: 700;
}


.partHeaderSmall{
  padding: 1%;
  font-size: 1.2em;
}



/*
  click on div stuff
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  margin: 0 !important;
  color: white !important;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: 0px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: 0px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


.commentContainer{
  background-color: rgb(255, 230, 230);
  margin-top: 10px;

  box-shadow: none;
}

.userCommenting{
  display: flex;
}

.commentUsername{
  margin-left: 2%;
  line-height: 3;
  font-weight: 700;
}

.comment{
  line-height: 3;
  margin-left: 5%;
}

.commentBtn{
  padding: 5px;
  border-radius: 10px;
  margin-top: 0;
}

.userCommentingLink{
  padding-left: 10px;
  color: rgb(62, 62, 62);
}

.userCommentingLink:hover{
  color: rgb(62, 62, 62);
  text-shadow: 0 0 0 1px;
}

.flwBtn{
  background-color: rgb(255, 220, 220);
  color: rgb(255, 67, 67);
}

.unFlwBtn{
  background-color: rgb(255, 67, 67);
  color: white;
}

.delBtn{
  color: rgb(255, 67, 67);
}

.delBtn:hover{
  color: red;
}

.editBtn{
  color: rgb(62, 62, 62);
}

.editBtn:hover{
  color: black;
}

.d-e-btns{
  position: absolute;
  top: 0;
  right: 0;
  line-height: 3;
}

.navBtn{
  position: relative;
}

.newMessages{
  position: absolute;
  top: 10;
  left: 0;
  color: green;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
}

.nM{
  position: absolute;
  bottom: 1;
  left: 4;
  font-size: 0.9em;
  font-weight: 1000;
}











/*
  MESSAGES
*/

.messagesContainer{
  margin-top: 2%;
}

.peopleDiv{

  box-shadow: 0px 0px 5px rgb(255, 67, 67);
  height: 400px;
  overflow-y: scroll;
}
.messagesDiv{
  border: 1px solid blue;
  position: relative;
}

.personContainer{
  border: 1px solid green;
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.personImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.personImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.personName{
  margin-left: 10px;
  line-height: 3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 67, 67);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 100, 100);
  border-radius: 10px;
  border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 67, 67);
}

.messageInputFieldDiv{
  position: absolute;
  bottom: 5px;
  width: 97%;
  display: flex;
}
.messageInputField{
  width: 100%;
  box-shadow: 0 0 5px red;
  border-radius: 20px;
}
.sendMsgBtn{
  box-shadow: 0 0 5px red;
  border-radius: 50%;
  margin-left: 5px;
}
